.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2E8B57;
}

.header__nav {
    float: right;
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    color: white;
    display: flex;
    margin-right: 25px;
    font-size: 18px;
    margin-bottom: 5px;
}

.header__logo {
    color: white;
    margin-left: 20px;
}


